@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #4D4C4C;
  background: #E9E9E9;
}

.container {
  min-width: 280px;
  max-width: 960px;
  box-sizing: border-box;
}

.tabs input {
  display: none;
  position: absolute;
}
  
.tabs label {
  display: inline-block;
  margin: 0 0 -1px 5px;
  padding: .7rem 1rem;
  font-weight: 700;
  text-align: center;
  border: 2px solid #686767;
  border-bottom: 1px solid #686767;
  background: #E0DEDE;
  border-radius: 3px 3px 0 0;
}

  
.tabs .active+label,
.tabs label:hover {
  color: #555;
  border: 2px solid #686767;
  border-bottom: 1px solid #686767;
  background: #fff;
  cursor: pointer;
  transition: background .5s;
}
  
.section {
  display: none;
  border: 2px solid #686767;
  background: #fff;
  height: 350px;
  padding: 1rem 2rem;
}

.section.active {
  display: flex;
  justify-content: space-between;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-top: 1rem;
}


@media screen and (min-width: 280px) and (max-width: 920px) {
  body {
    margin: 0 auto;
  }

  .container {
    margin: .5rem 1rem;
  }

  .tabs,
  .section.active {
    display: flex;
    flex-direction: column;
      
  }

  .section.active {
    align-items: center;
  }

  .section {
    height: max-content;
    margin-bottom: 1rem;
  }

  .tabs label {
    margin: 0;
    padding: 1rem 2rem;
  }
}

